* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
    color: #4a4a4a;
}

.titulo-ranking {
    font-size: 1.8em;
    font-weight: bold;
    color: #4a90e2;
    margin: 2rem;
    text-align: center;
}

.ranking-list {
    list-style-type: none;
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.ranking-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 30rem;
    width: 100%;
}

.ranking-numero {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #4a90e2;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.ranking-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
    background-color: #ffefcc;
    border: 1px solid #ffdb99;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.ranking-item:last-child {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1rem;
}

.ranking-item:hover {
    background-color: #ffebbb;
}

.bi-star-fill, .bi-star, .bi-star-half {
    color: #f5c518;
    margin-right: 4px;
}

.promedio {
    margin-left: 10px;
    font-weight: bold;
    color: #555;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-icon {
    font-size: 2rem;
    color: #333;
    cursor: pointer;
}

.reseñas-list {
    list-style-type: none;
    padding: 0;
}

.reseña-item {
    margin-bottom: 15px;
    padding: 10px;
    background: #f9f9f9;
    border-left: 4px solid #4a90e2;
}

.title-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
